<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .logo {
      font-family: Helvetica;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 60px;
      color: #6DECB9;
      margin-top: 10px !important;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="logo">LOKL</div>
  <h2>Gracias por usar nuestro simulador</h2>

  <p>Los siguientes datos los usaste para generar la simulacion</p>
  <table>
    <tr>
      <td>Valor</td>
      <td><%= simulador.valor %></td>
    </tr>
    <tr>
      <td>Living</td>
      <td><%= simulador.living %></td>
    </tr>
    <tr>
      <td>Años</td>
      <td><%= simulador.periodo %></td>
    </tr><
    <tr>
      <td>Porcentaje</td>
      <td><%= simulador.porcentaje %></td>
    </tr>
  </table>
</body>
</html>